<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
   
</head>


<body>

<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>DATA DE NASCIMENTO</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
            	<td th:text="${usuario.id}"></td>
            	<td th:text="${usuario.nome}"></td>
            	<td th:text="${usuario.dataNascimento}"></td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </tbody>
    </table>
    


</body>
</html>